<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <!-- Area logo/brand -->
        <a class="navbar-brand" href="#">
            <img src="../static/SA.jpg" alt="Logo" width="40" height="30"
                class="d-inline-block align-text-top"> 
            Sito Alimentare
        </a>

        <!-- Hamburger menu per responsive su mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Voci di menù -->
        {% if 'user_id' in session %}

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Lotti Disponibili</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Prenotazioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>