<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- importo boostrap -->
    {% include 'boostrap.html' %}
</head>
<body>
    <form method="post">
        <label for="User_login">Username</label>
        <input type="text" name="tx_user" id="User_login" required>
        <br>
        <label for="Psw_login">Password</label>
        <input type="password" name="tx_password" id="Psw_login" required>
        <br>
        <button type="submit" name="bt_login">Accedi</button>
    </form>
</body>
</html>