<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- importo boostrap -->
    {% include 'boostrap.html' %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
    </nav>
    <form method="post" class="form-control text-center" >
        <div class="mb-1 mt-1">
            <label for="User_login">Username</label>
            <br>
            <input type="text" name="tx_user" id="User_login" required>
        </div>
        
        <div class="mb-1"> 
            <label for="Psw_login">Password</label>
            <br>
            <input type="password" name="tx_password" id="Psw_login" required>
        </div>
        
        <div class="form-check mt-3 ">
            <button type="submit" name="bt_login" class="btn btn-primary">Accedi</button>
        </div>
    </form>
</body>
</html>