body {
    background-color: #bcd5eb; /* Colore di sfondo personalizzato */
}

.custom-navbar {
    background-color: #124d80; /* Colore di sfondo della navbar */
}

.custom-footer {
    background-color: #124d80; /* Colore di sfondo del footer */
    color: white; /* Colore del testo del footer */
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
