{% extends "base.html" %}

{% block title %}Eventi sulla nave{{ super() }}{% endblock %}

{% block h1 %}Benvenuto sulla nave da crociera{% endblock %}

{% block content %}

{% if not session.user_id %}
    <!-- Avviso inserito se l'utente non è loggato -->
    <p>Per prenotare i prodotti, <a href="{{ url_for('login') }}">accedi</a>.</p>
{% endif %}

<div class="row" id="row-eventi">
    <!-- riga popolata dinamicamente con una colonna BS contenente una card per ogni evento -->
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/load_eventi.js') }}"></script>
{% endblock %}
