<!DOCTYPE html>
<html>

<head>
    <title>tebella potenze</title>
</head>

<body>
    <form>
       Numero: <input type="number" name="base_number" value="{{ submitted_number }}">
       <button type="submit">Genera potenze</button>
    </form>

    
    <table border="1px" style="width: 50%">
        <tr>
            <th>Potenza</th>
            <th>Descrizione</th>
            <th>Risultato</th>
        </tr>
        <!-- per ciascuna potenza in powers.items() -->
        {% for esponente, risultato in powers.items() %}
        <tr style="text-align: center;">
            <td>{{ submitted_number }} <sup>{{ esponente }}</sup></td>
            <td>{{ submitted_number }} elevato a {{ esponente }}</td>
            <td>{{ risultato }}</td>
        </tr>
        {% endfor %}
        <!-- end for -->

    </table>
       
    
   
</body>

</html>
