<nav id="bg-gas-secondary" class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">

        <!-- Area logo/brand -->
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/static/imgs/logo_nave.png" alt="Logo" width="120" height="40" class="d-inline-block align-text-top">
            <!-- Nave Eventi -->
        </a>
        
        <!-- Hamburger menu per responsive su mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Voci di menù -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if 'user_id' in session %}
                <li class="nav-item vocimenu">
                    <a class="nav-link" href="{{ url_for('index') }}">Eventi</a>
                </li>
                <li class="nav-item vocimenu">
                    <a class="nav-link" href="{{ url_for('prenotazioni') }}">Prenotazioni</a>
                </li>
                <li class="nav-item vocimenu">
                    <a class="nav-link" href="{{ url_for('locali') }}">Locali</a>
                </li>
                <li class="nav-item vocimenu">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item vocimenu">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item vocimenu">
                    <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>