<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
</head>

<body>



    <form id="msg-form">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="messaggio">Messaggio:</label>
        <input type="text" id="messaggio" name="messaggio" required>
        <br>
        <button type="button" onclick="sendMessage()">Invia</button>
    </form>


    <div>
        <h2>Messaggio</h2>
        <ul id="lista-messaggi"></ul>
    </div>




    <!-- importa static/script.js -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>

