<nav  class="navbar navbar-expand-sm bg-info  text-success fixed-top">
    <div class="container-fluid">
        <!-- area logo/brand -->
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/static/imgs/nave.png" alt="Logo" width="60" height="30"
                class="d-inline-block align-text-top">
            Una Rotonda sul Mare
        </a>
        <!-- hamburger menu per responsive su mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- voci di menù -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Eventi</a>
                </li>
                {% if session.utente_id %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('prenotazioni') }}">Prenotazioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>