{% extends "base.html" %}

{% block title %}Lista produttori {{ super() }}{% endblock %}

{% block h1 %}Lista produttori{% endblock %}

{% block content %}

{% if not session.user_id %}
    <!-- Avviso inserito se l'utente non è loggato -->
    <p>Per visualizzare i produttori, <a href="{{ url_for('login') }}">accedi come amministratore</a>.</p>
{% endif %}


<div class="row" id="row-prod">
    <!-- riga popolata dinamicamente con una colonna BS contenente una card per ogni lotto -->
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/load_produttori.js') }}"></script>
{% endblock %}




