<ul class="pagination pagination-lg justify-content-center ">
    <li class="page-item">
      <a class="page-link bg-warning" href="#" >Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-warning" href="/home.html">Home</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-warning" href="/login.html">Login</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-warning" href="/film.html">Films</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-warning" href="#">Next</a>
    </li>
  </ul>