<ul class="pagination pagination-lg justify-content-center ">
    <li class="page-item">
      <a class="page-link bg-warning" href="#" >Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-warning" href="/">Home</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-warning" href="/login">Login</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-warning" href="/film">Films</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-warning" href="#">Next</a>
    </li>
  </ul>