<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
</head>
<body>

    <form>
        <input type="text" id="name" name ='name' required>
        <input type="text" id="messaggio" name = 'messaggio' required>
        <button type="submit" onclick="sendMessage()">Send Msg</button>

    </form>

    <ul id="messaggi-precedenti">
        <!-- I messaggi verranno visualizzati qui -->
    </ul>
    <script src="script\test09.js"></script>
</body>
</html>