{% extends "base.html" %}
{% block title %}Home - My App{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Benvenuti sul sito dei prodotti naturali!</h1>
    <p class="lead">Questa è un'applicazione demo.</p>
    <hr class="my-4">
    <h2>Prodotti</h2>
    <div class="row">
        {% for prodotto in prodotti %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ prodotto.nome_prodotto }}</h5>
                    <p class="card-text">Produttore: {{ prodotto.produttore.nome_produttore }}</p>
                    <a href="{{ url_for('lotti', prodotto_id=prodotto.id) }}" class="btn btn-primary">Visualizza Lotti</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <p>Usa il menu di navigazione per esplorare l'app.</p>
    {% if 'email' in session %}
        <a class="btn btn-primary btn-lg" href="{{ url_for('lotti') }}" role="button">Visualizza Prodotti</a>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    {% endif %}
</div>
{% endblock %}