{% extends "base.html" %}
{% block title %}Prodotti - My App{% endblock %}
{% block content %}
<h2>Prodotti</h2>
<div class="row">
    {% for prodotto in prodotti %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ prodotto.nome_prodotto }}</h5>
                <p class="card-text">Produttore: {{ prodotto.produttore.nome_produttore }}</p>
                <a href="{{ url_for('lotti', prodotto_id=prodotto.id) }}" class="btn btn-primary">Visualizza Lotti</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
