{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">Benvenuto nel sistema di prenotazioni!</h1>
        <p class="lead">Accedi per vedere i prodotti disponibili e fare una prenotazione.</p>
        <hr class="my-4">
        <p>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </p>
    </div>

    <h2 class="my-4">Prodotti Disponibili</h2>
    <div id="prodotti-container" class="row">
        <!-- Prodotti saranno caricati qui tramite JavaScript -->
    </div>

    <script src="{{ url_for('static', filename='js/prodotti.js') }}"></script>
{% endblock %}
