html, body {
    height: 100%;
}

.navbar-brand {
    font-family: 'Rubik Marker Hatch', sans-serif;
    font-size: 30px;
    color: aqua;
}

body {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Classe per il colore di sfondo della pagina */
.bg-princess-sfondo {
    background-color: rgb(204, 238, 243);
}

/* Aggiungi questo CSS per assicurare che le card abbiano la stessa altezza */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(185, 243, 224);
}

.card .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column; 
}

.card .card-body h5 {
    flex-grow: 0;
}

.card .card-body .card-text {
    flex-grow: 1;
    margin-bottom: 10px;
}

.card .card-body button {
    align-self: right;
    margin-top: 2;
}

/* Stile personalizzato per la navbar */
.custom-navbar {
    background-color: #1a5f8a; /* Colore di sfondo della navbar */
}

.text-danger {
    color: red;
    background-color: yellow;
}

.card-img-top {
    max-width: 85px;  /* Assicura che l'immagine non superi la larghezza della card */
    max-height: 85px; /* Imposta l'altezza massima per l'immagine */
}
