{% extends "base.html" %}

{% block title %}FILMS{% endblock %}

{% block content %}

<div class="container mt-3">
    <h1>Benvenuto nella Pagina FILMS</h1>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="../static/atlas.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">ATLAS</h4>
                  <p class="card-text">Primo TOP FILM</p>
                  <a href="#" class="btn btn-primary">WATCH NOW</a>
                </div>
              </div>
        </div>
        <div class="col-lg-6 mb-5">
          <div class="card" style="width:100%">
              <img class="card-img-top" src="../static/mother.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">MOTHER</h4>
                <p class="card-text">Quarto TOP FILM</p>
                <a href="#" class="btn btn-primary">WATCH NOW</a>
              </div>
            </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="card" style="width:100%">
            <img class="card-img-top" src="../static/transformers.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">TRANSFORMERS</h4>
              <p class="card-text">Sesto TOP FILM</p>
              <a href="#" class="btn btn-primary">WATCH NOW</a>
            </div>
          </div>
    </div>
        <div class="col-lg-6 mb-5">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="../static/security.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">SECURITY</h4>
                  <p class="card-text">Ottavo TOP FILM</p>
                  <a href="#" class="btn btn-primary">WATCH NOW</a>
                </div>
              </div>
        </div>
        <div class="col-lg-6 mb-5">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="../static/sangre.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">SANGRE</h4>
                  <p class="card-text">Nono TOP FILM</p>
                  <a href="#" class="btn btn-primary">WATCH NOW</a>
                </div>
              </div>
        </div>
        <div class="col-lg-6 mb-5">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="../static/madame.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">MADAME</h4>
                  <p class="card-text">Decimo TOP FILM</p>
                  <a href="#" class="btn btn-primary">WATCH NOW</a>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}