<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form id="msg-form">
        <input type="text" id="nome" name="nome" required >
        <input type="text" id="messaggio" name="messaggio" required>
        <button type="button" onclick="sendMessage()">Invia messaggio</button>
        <!-- ATTENZIONE: usiamo type="button" per evitare che il form venga
                         inviato automaticamente -->
    </form>

    <script src="static\script_ES09.js"></script>
</body>
</html>