{% extends "base.html" %}

<!-- Sovrascrive il titolo della pagina definito nel template base -->
{% block title %}Bella Crociera - Home{% endblock %}

<!-- Sovrascrive il contenuto del blocco 'content' definito nel template base -->
{% block content %}
<h1 class=" eventi mb-4 text-center text-warning"><b>I nostri eventi!</b></h1>

<!-- Controlla se l'utente è loggato e mostra un messaggio di benvenuto o invita a loggarsi -->
{% if session.get('user_id') %}
<p class="text-success ">Benvenuto, {{ session.get('user_name') }}!</p>
{% else %}

<h4 class=" text-center text-warning">Fai login per accedere.</h4>
<div class="text-center my-3">
    <a class=" btn btn-outline-warning" href="{{ url_for('login')}}"><b>LOGIN</b></a>
</div>
{% endif %}

<div id="ecard">
<!-- Faciamo vedere gli eventi disponibili -->
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for evento in eventi %}
    <div class="col">
        <div class="card cardindex h-100">
            <div class="card-body ">
                <!-- Titolo e sottotitolo della card -->
                <h5 class="card-title">{{ evento.nome_evento }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ evento.locale }}</h6>
                <p class="card-text"><strong>Repliche:</strong></p>
                <!-- Lista delle repliche per l'evento -->
                <ul class="list-group list-group-flush">
                    {% for replica in evento.repliche %}
                    <li class="list-group-item {% if replica.annullato %}text-danger{% endif %}">
                        <!-- Data e ora della replica -->
                        {{ replica.data_ora.strftime('%d-%m-%Y %H:%M') }}
                        {% if replica.annullato %}
                        (Annullato)
                        {% else %}
                        - Posti disponibili: {{ replica.posti_disponibili }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Sezione che lascia vedere il pulstante solo se sei logato -->
            {% if session.get('user_id') %}
            <div class="card-footer text-center">
                <a href="{{ url_for('repliche', evento_id=evento.id) }}" class="btn btn-warning">Prenota</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}