{% extends "base.html" %}

{% block title %}Carrello{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2><b>Carrello</b></h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Prodotto</th>
                    <th scope="col">Quantità</th>
                    <th scope="col">Prezzo unitario</th>
                    <th scope="col">Totale</th>
                    <th scope="col">Azione</th>
                </tr>
            </thead>
            <tbody>
                {% for prenotazione in prenotazioni %}
                <tr>
                    <td>{{ prenotazione.lotto.prodotto.nome_prodotto }} ({{ prenotazione.lotto.qta_unita_misura }}.)</td>
                    <td>
                        <form method="POST" class="d-flex">
                            <input type="hidden" name="prenotazione_id" value="{{ prenotazione.id }}">
                            <input type="number" name="quantita" value="{{ prenotazione.qta }}" class="form-control me-2" min="1" required>
                            <button type="submit" name="update" class="btn btn-primary me-2">Aggiorna</button>
                        </form>
                    </td>
                    <td>{{ prenotazione.lotto.prezzo_unitario }}€</td>
                    <td>{{ prenotazione.qta * prenotazione.lotto.prezzo_unitario }}€</td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="prenotazione_id" value="{{ prenotazione.id }}">
                            <button type="submit" name="delete" class="btn btn-danger">Elimina</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4><b>Totale dell'ordine: {{ totale }}€</b></h4>
    </div>
    <a href="{{ url_for('home') }}" class="btn btn-success mt-3">Continua gli acquisti</a>
    <a href="#" class="btn btn-primary mt-3">Procedi al pagamento</a>
</div>
{% endblock %}
