{% extends "base.html" %}

{% block title %}Prodotto{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>{{ prodotto.nome_prodotto }}</h2>
        <p><strong>Produttore:</strong> {{ prodotto.produttore.nome_produttore }}</p>
        <p><strong>Descrizione:</strong> {{ prodotto.descrizione }}</p>
        <p><strong>Quantità Disponibile:</strong> {{ quantita_disponibile }}</p>
        <form method="POST">
            <div class="form-group">
                <label for="quantita">Quantità</label>
                <input type="number" class="form-control" id="quantita" name="quantita" min="1" max="{{ quantita_disponibile }}" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Aggiungi al carrello</button>
        </form>
    </div>
</div>
{% endblock %}
