<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Eventi disponibili</h1>
    {% for evento in eventi %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ evento.nome_evento }}</h5>
                <p class="card-text">Posti disponibili: {{ evento.get_posti_disponibili() }}</p>
                <!-- Aggiungi pulsante per prenotare -->
            </div>
        </div>
    {% endfor %}

    
    
</body>
</html>