body {
    background-image: url("..//img/Bella\ crociera.jpg");
    background-repeat: no-repeat;
   
  }

.contenitore {
    border-style: solid;
    border-width: medium;
  }
  

#ecard{
    margin-top: 40px;
    margin-bottom: 15px;
  }

.eventi{
    margin-top: 100px;
  }

.cardreplica{
  border-radius: 10%;
}
.cardindex{
  border-radius: 10%;
}

.cardprenot{
  border-radius: 10%;
}