body {
    background-image: url("..//img/Bella\ crociera.jpg");
    background-repeat: no-repeat;
   
  }

.contenitore {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    
  
  }

  .contenitoreS {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    
  
  }
  

#ecard{
    margin-top: 40px;
    margin-bottom: 15px;
  }

.eventi{
    margin-top: 100px;
  }

.cardreplica{
  border-radius: 10%;
}
.cardindex{
  border-radius: 10%;
}

.cardprenot{
  border-radius: 10%;
}
.custom-checkbox .custom-control-label::before {
  color: yellow;
}
