<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN_0</title>
    {% include 'includes/head_login0.html' %}
</head>
<body>
{% include 'includes/navbar_login0' %} 
<h1>THE BEST MOVIES</h1>
<div class="container mt-4">

    <h2>MUVIE LIST</h2>
    <div class="row">
        {% for film in films%}
        <div class="col-md-4 shadow-sm">
            <div>
                  <img src="{{ url_for('static', filename='imgs/'+film.image) }}" class="bd-placeholder-img card-img-top">
                        <div class="card-body">
                            <p class="card-text">{{ film.title }}</p>
                        </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>


    
</body>
</html>