{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="display-4">Benvenuti sulla pagina dei Lotti</h1>
<!-- <p class="lead">Questa è la home page del sito.</p> -->
{% if 'user_id' in session %}

<div class="row">
    <div class="col-md-6 mt-4">
        <h6 class="display-6">Benvenuto, {{ user.nome }} detto {{ user.cognome }}</h6>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-6 mt-4">
        <h6=>Vai ai Prodotti</h6=>
        <a class="btn btn-primary" href="{{ url_for('lotti_disponibili') }}" role="button">LOTTI</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mt-4">
        <h6=>Fai il Logout</h6=>
        <a class="btn btn-primary" href="{{ url_for('logout') }}" role="button">LOGOUT</a>
    </div>
</div> -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <h2>Lotti disponibili</h2>
            <h1 class="text-center my-4">Lotti disponibili</h1>

            <div class="row" id="row-lotti">
                <!-- popolato dinamicamente nel js -->
            </div>
        

        </div>

    


    </div>
</div>



{% else %}


<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <h2>Lotti disponibili</h2>
            <h1 class="text-center my-4">Lotti disponibili</h1>

            <div class="row" id="row-lotti">
                <!-- popolato dinamicamente nel js -->
            </div>
        

        </div>

    


    </div>
</div>

<!-- <div class="row">
    <div class="col-md-6 mt-4">
        <h6=>Per accedere fai il Login</h6=>
        <a class="btn btn-primary" href="{{ url_for('login') }}" role="button">LOGIN</a>
    </div>
    
</div>
<div class="row">
    
    <div class="col-md-6 mt-4 mb-4">
        <h6=>oppure, se non hai un account, fai il Sign Up</h6=>
        <a class="btn btn-primary" href="{{ url_for('signup') }}" role="button">SIGN UP</a>
    </div>
</div> -->

{% endif %}

{% endblock %}

{% block scripts %}

<!-- Custom JavaScript -->
<script src="{{ url_for('static', filename='scripts/lotti.js') }}"></script>

{% endblock %}


