{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="display-4">Benvenuti sulla pagina dei Lotti</h1>
<!-- <p class="lead">Questa è la home page del sito.</p> -->
{% if 'user_id' in session %}

<div class="row">
    <div class="col-md-6 mt-4">
        <h6 class="display-6">Benvenuto, {{ 'user_id' }}</h6>
    </div>
</div>



<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <!-- <h2>Lotti disponibili</h2> -->
            <h1 class="text-center my-4">Lotti disponibili</h1>

            <div class="row" id="row-lotti">
                <!-- popolato dinamicamente nel js -->
            </div>
        

        </div>

    


    </div>
</div>



{% else %}


<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <h2>Devi fare il LOGIN</h2>
            <h1 class="text-center my-4">Lotti disponibili</h1>

            <div class="row" id="row-lotti">
                <!-- popolato dinamicamente nel js -->
            </div>
        

        </div>

    


    </div>
</div>



{% endif %}

{% endblock %}

{% block scripts %}

<!-- Custom JavaScript -->
<script src="{{ url_for('static', filename='scripts/lotti.js') }}"></script>

{% endblock %}


