Flask
Flask-SQLAlchemy
sqlalchemy-serializer
flask-bcrypt
flask-limiter

# admin admin@admin.com Ciotola<1

# adesso non dovrebbe essere più necessario avviare rehash_passwords.py!!
# se si cancella e ricrea il db, dopo che app ha creato nuovamente il db occorre 
# avviare rehash_passwords.py, per hashare le password, in caso contrario
# non si riesce ad effettuare il login
