{% extends "_layout_base.html" %}

{% block title %}Prenotazione {{ super() }}{% endblock %}

{% block h1 %}Modifica la tua prenotazione{% endblock %}

{% block content %}
<div class="row mb-4 justify-content-center">
    <!-- lotto infos -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    {{ prenotazione.replica.evento.nome_evento }}
                </h4>
                <div class="text-end"><small>(cod. replica {{ prenotazione.replica.id }} )</small></div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <small>Data Replica:</small> <b>{{ prenotazione.replica.data_ora }}</b>
                </p>
                
                <p class="card-text">
                    <small>Posti totali:</small> <b>{{ prenotazione.replica.evento.locale.posti }} </b>
                </p>
                <p class="card-text">
                    <small>Posti disponibili:</small> <b>{{ prenotazione.replica.get_posti_disponibili() }} </b>
                </p>
                
                <div class="row alert alert-primary text-center">
                    <div class="col card-text">
                        <small>I tuoi posti già prenotati:</small> <b>{{ prenotazione.quantita }} </b>
                    </div>
                    
                </div>
            </div>
            <!-- Form per la modifica di una prenotazione -->
            <div class="card-footer">
                <form method="POST" action="{{ url_for('modifica_prenotazione', prenotazione_id=prenotazione.id) }}">
                    <div class="form-group mb-3">
                        <label for="quantita" class="form-label">Quantità</label>
                        <input type="number" class="form-control" id="quantita" name="quantita"
                            required min="0" max="{{ prenotazione.lotto.get_qta_disponibile() + prenotazione.qta}}"
                            value="{{ prenotazione.qta }}">
                    </div>
                    <button type="submit" class="btn btn-primary" name="azione" value="aggiorna">
                        Modifica quantità
                    </button>
                    <button type="submit" class="btn btn-danger float-end" name="azione" value="elimina"
                            onclick="return confirm('Sei sicuro di voler eliminare la prenotazione?')">
                        Elimina prenotazione
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/load_prenotazione.js') }}"></script>
{% endblock %}
