{% extends "_layout_base.html" %}

{% block title %}Prenotazione lotto {{ super() }}{% endblock %}

{% block h1 %}
{% if prenotazione_esistente %}
    Aggiungi alla tua prenotazione
{% else %}
    Nuova prenotazione
{% endif %}
{% endblock %}

{% block content %}
<div class="row mb-4 justify-content-center">
    <!-- lotto infos -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    {{ replica.evento.nome_evento }}
                </h4>
                <!-- <div class="text-end"><small>(cod. replica {{ replica.id }})</small></div> -->
            </div>
            <div class="card-body">
                <p class="card-text">
                    <small>Data Evento:</small> <b>{{ replica.data_ora }}</b>
                </p>
                <p class="card-text">
                    <small>Visibile in :</small> <b>{{ replica.evento.locale.nome_locale }}</b>
                </p>
                <p class="card-text">
                    <small>Posti sala:</small> <b>{{ replica.evento.locale.posti }} </b>
                </p>
                <p class="card-text">
                    <small>Posti disponibili:</small> <b>{{ replica.get_posti_disponibili() }} </b>
                </p>
               
                {% if prenotazione_esistente %}
                <div class="row alert alert-primary text-center">
                    <div class="col card-text">
                        <small>Prenotazione già effettuata. Numero posti:</small> <b>{{ replica.prenotazione.quantita }} </b>
                    </div>
                    
                </div>
                {% endif %}
            </div>
            <!-- Form per la creazione o la modifica di una prenotazione -->
            <div class="card-footer">
                <form method="POST" action="{{ url_for('prenota_replica', replica_id=replica.id) }}">
                    <div class="form-group mb-3">
                        <label for="quantita" class="form-label">Quantità</label>
                        <input type="number" class="form-control" id="quantita" name="quantita"
                            required min="1" max="{{ replica.get_posti_disponibili() }}"
                            value="1">
                    </div>
                    <button type="submit" class="btn btn-primary w-100" name="azione" value="nuovaPrenotazione">
                        {% if prenotazione_esistente %} Aggiungi quantità {% else %} Prenota quantità {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/load_prenotazione.js') }}"></script>
{% endblock %}
