body {
    background-color: beige;
}

.bg-gas-primary {
    background-color: #846a6a;
}
.text-gas-primary {
    color: #d2d3dd;
}
.bg-gas-secondary {
    background-color: #846a6a;
}

.text-gas-secondary {
    color: #d2d3dd;
}
