body {
    background-color: beige;
}

#bg-gas-primary {
    background-color: rgb(230, 230, 230);
}

#text-gas-primary {
    color: #d2d3dd;
}

#bg-gas-secondary {
    background-color: rgb(111, 162, 255) !important;
}

.vocimenu {
    font-size: 20px;
}

